@model IEnumerable<WebProject.Models.order_detail>



@{
    var Account = HttpContext.Current.Session["Account"];

}


@{
    ViewBag.Title = "訂單明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mb-4">
    <div class="row col-10 mx-auto">
        <h3 class="pl-3 my-3 text-muted">訂單明細 Order Detail</h3>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%"> </th>
                            <th scope="col" class="pl-2">商品</th>
                            <th scope="col">內容</th>
                            <th scope="col" class="text-center">數量</th>
                            <th scope="col" class="text-right">單價</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class="">



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img class="w-100" src="~/image/product/@item.product.product_image" />
                                </td>
                                <td class="align-middle">
                                    <div>@item.product.product_name</div>
                                    <div>@item.product.product_description</div>



                                </td>
                                <td class="align-middle w-25">@item.product.product_details</td>
                                <td class="mx-auto align-middle">
                                    <input name="quantity" class="form-control text-center w-50 mx-auto" type="number" value="@item.product_quantity" />
                                </td>
                                <td class="text-right align-middle">@item.product.product_price NT$</td>
                                <td class="text-right align-middle">

                                </td>
                            </tr>
                        }



                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">商品總計</td>
                            <td class="text-right align-middle">NT$ 255,90</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">運費</td>
                            <td class="text-right align-middle">NT$  30</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">
                                <strong>總計</strong>
                            </td>
                            <td class="text-right align-middle">
                                <strong>NT$ 346</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col my-2">

        </div>
    </div>
</div>