@model WebProject.Models.product

@{

    ViewBag.Title = ViewBag.productName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid mx-auto mt-4">
    <div class="row col-10 mx-auto">
        <!-- 左邊圖片 -->
        <div class="col-6 ">
            <img src="~/image/product/@Model.product_image" class="w-75  d-block mx-auto">
        </div>
        <!-- 右邊說明 -->
        <div class="col-6  row">
            <div id="catagory" class="col-12">
                <span class="badge badge-pill badge-warning rounded align-bottom" style="font-size:16px;">促銷</span>
                <span class="badge badge-pill badge-success rounded align-bottom" style="font-size:16px; ">@Model.product_catagory</span>
            </div>
            <div class="col-12">
                <h2>@ViewBag.productName</h2>
            </div>
            <div class="col-12 text-danger">
                <span class="badge badge-pill badge-danger rounded" style="font-size:16px;">促銷價</span>
                <div id="price" class="col"><h3>NT$@Model.product_price</h3></div>
            </div>
            @*<div id="price" class="col-12 text-danger">促銷價<h3>NT$@Model.product_price</h3></div>*@
            <div id="description" class="col-12">@Model.product_description</div>


            <div id="detail" class="col-12">
                <p>Brand: Fresh Bar<p>

            </div>
            <div id="detail" class="col-12">@Model.product_details</div>
            <p class="w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laboriosam consequatur nostrum odio eaque magni, quis pariatur dicta commodi, similique animi maiores explicabo quas accusantium sit ea unde exercitationem labore quaerat odit excepturi, ullam nesciunt obcaecati error!</p>
            <p class="w-100">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia officia mollitia culpa perferendis voluptatum, modi assumenda neque facere. Inventore, quaerat eum? Ex repudiandae id aliquam velit labore, nostrum eum commodi.</p>
            <form action="@Url.Action("AddCart",new {productNo = 1, quantity = 1})" method="get" class="mx-auto col-12">
                <div id="price" class="col-12">
                    <span class="text-uppercase">數量: </span>
                    <input class="input" type="number" name="qantity" value="1" id="name">

                </div>
                @*<div id="price" class="col-12 text-danger"><h3>NT$@Model.product_price</h3></div>*@

                <!-- 置底的BUY -->
                <div class="align-self-end col-5">

                    <button type="submit" class="btn btn-info d-block ml-auto text-white" style="font-size:20px; line-height:30px; border-radius:20px!important;" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-shopping-cart pr-2"></i>加入購物車</button>
                    @*<a href="@Url.Action("Cart",new {productNo = Model.product_no, quantity = 1})" class="btn btn-info d-block ml-auto text-white" data-toggle="modal" data-target="#exampleModalCenter" style="font-size:20px; line-height:30px; border-radius:20px!important;"><i class="fas fa-shopping-cart pr-2"></i>加入購物車</a>*@
                    @*<button type="button" class="btn btn-info d-block ml-auto">BUY</button>*@
                </div>
            </form>

        </div>
    </div>
</div>