@model WebProject.Models.member




@{
    ViewBag.Title = "註冊帳號";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mx-auto mt-5"  >
    <div class="card mx-auto " style= "width:600px; border:2px solid #dbdbdb; border-radius: 30px!important;">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center my-3">註冊帳號</h4>
            <p class="text-center">Get started with fresh shopping expirence!</p>
            <form action="@Url.Action("Register")" method="post">

                <!-- form-group// -->
                <div class="form-group input-group my-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-envelope fa-lg p-1"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model=>model.member_account,
                    new { htmlAttributes = new { @class = "form-control", @placeholder = " 電子信箱(帳號)" }})
                    @Html.ValidationMessageFor(m=>m.member_account,"",new {@class="text-danger"})
                    @ViewBag.Message
                    @*<input name="" class="form-control" placeholder="電子信箱" type="email">*@
                </div>
                <!-- form-group// -->

                <div class="form-group input-group my-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2 ">
                            <i class="fa fa-user fa-lg p-1"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model=>model.member_name,
                    new { htmlAttributes = new { @class = "form-control", @placeholder = " 姓名" }})
                    @Html.ValidationMessageFor(m => m.member_name, "", new { @class = "text-danger" })
                    @*<input name="" class="form-control" placeholder="姓名" type="text">*@
                </div>


                <!-- form-group// -->
                <div class="form-group input-group my-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-phone fa-lg p-1"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model=>model.member_phone,
                    new { htmlAttributes = new { @class = "form-control", @placeholder = " 電話號碼" }})
                    @Html.ValidationMessageFor(m => m.member_phone, "", new { @class = "text-danger" })
                    @*<input name="" class="form-control" placeholder="電話號碼" type="text">*@
                </div>
                <!-- form-group// -->

                <div class="form-group input-group my-4">
                    <div class="input-group-prepend ">
                        <span class="input-group-text p-2 mx-auto">
                            <i class="fa fa-lock fa-lg p-1"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model=>model.member_password,
                    new { htmlAttributes = new { @class = "form-control", @placeholder = " 請輸入密碼" } })
                    @Html.ValidationMessageFor(m => m.member_password, "", new { @class = "text-danger" })
                    @*<input class="form-control" placeholder="請輸入密碼" type="password">*@
                </div>
                <!-- form-group// -->
                <div class="form-group input-group my-4">
                    <div class="input-group-prepend mx-auto">
                        <span class="input-group-text p-2 mx-auto">
                            <i class="fa fa-lock fa-lg p-1"></i>
                        </span>
                    </div>
                    @Html.EditorFor(model=>model.confirm_password,
                    new { htmlAttributes = new { @class = "form-control", @placeholder = " 請重複密碼" } })
                    @Html.ValidationMessageFor(m => m.confirm_password, "", new { @class = "text-danger" })
                    @*<input class="form-control" placeholder="請重複密碼" type="password">*@
                </div>
                <!-- form-group// -->
                <div class="form-group m-3 mx-auto">
                    <button type="submit" class="btn btn-primary btn-block mx-auto p-2" style="background-color: rgb(19, 197, 182); border : 0px"> 註冊帳號 </button>
                </div>
                <!-- form-group// -->
                <p class="text-center my-4">
                    已經有帳號嗎?
                    <a href="@Url.Action("Login")" style="color: rgb(252, 159, 37)">點我登入</a>
                </p>
            </form>
        </article>
    </div>
    <!-- card.// -->

</div>

