<!doctype html>
<html lang="en">

<head>
    <title>@ViewBag.Title - 鮮食吧 FRESH BAR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>*@
    
    <!-- Javascript jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <!-- Javascript jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
                        // $(function () {
                        //     $('.selectpicker').selectpicker();
                        // });
    </script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <style></style>

</head>

<body>
    <nav>
        <!-- navheader start -->
        <div id="navheader" class="container-fluid mx-auto">
            <div class="row col-10 py-1 mx-auto">
                <a class="col-auto ml-0 pl-0">My Demo Site</a>
                <a class="col-auto pl-3" href="#">email@email.com</a>

                @{
                    if (HttpContext.Current.Session["Member"] == null)
                    {
                        <a class="col-auto pl-3 ml-auto" href="#">@Html.ActionLink("登入", "Login", "Home")</a>
                        <a class="col-auto pl-3" href="#">@Html.ActionLink("註冊", "Register", "Home")</a>
                    }
                    else
                    {
                        <span class="col-auto pl-3 ml-auto">會員中心</span>
                    }
                }


                @*<a class="col-auto pl-3 ml-auto" href="#">@Html.ActionLink("登入", "Login", "Home")</a>*@

                <a class="col-auto pl-3" href="#">@Html.ActionLink("線上購物", "Index", "Home")</a>
                <div class="dropdown col-auto">
                    <a class="pl-3 dropdown-toggle " href="#" id="dropdownMenuButton1" role="button" data-toggle="dropdown">Currency</a>
                    <div class="dropdown-menu" labelledby="dropdownMenuButton1">
                        <a href="#" class="dropdown-item">123</a>
                        <a href="#" class="dropdown-item">321</a>
                        <a href="#" class="dropdown-item">123</a>
                    </div>
                </div>

                <div class="dropdown col-auto px-0">
                    <a class="pl-3 dropdown-toggle " href="#" id="dropdownMenuButton2" role="button" data-toggle="dropdown">English</a>
                    <div class="dropdown-menu" labelledby="dropdownMenuButton2">
                        <a href="#" class="dropdown-item">123</a>
                        <a href="#" class="dropdown-item">321</a>
                        <a href="#" class="dropdown-item">123</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- navheader end -->
        <!-- navbody start -->
        <div id="navbody" class="container-fluid mx-auto">
            <div class="row col-10 align-items-center py-2 my-3 mx-auto">
                <div class="col-auto ml-0 pl-0">
                    @*<h3>Demo</h3>*@
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src='@Url.Content("~/image/home/logo4.png")' />
                    </a>
                </div>
                <div class="col-auto ml-auto">
                    <form class="form-inline my-0 my-lg-0">
                        <input class="form-control form-control-sm mr-sm-2 py-1" type="search" placeholder="Search" aria-label="Search">
                        <input class="form-control form-control-sm mr-sm-2 py-1" type="search" placeholder="All Catagories" aria-label="Search">

                        <div id="catagoryDropdown" class="dropdown">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item text-center" href="#">CatagoryA</a>
                                <a class="dropdown-item text-center" href="#">CatagoryB</a>
                                <a class="dropdown-item text-center" href="#">CatagoryC</a>
                            </div>
                        </div>


                        <button class="btn btn-sm my-0 py-1 ml-2" type="submit">Search</button>

                    </form>
                </div>
                <div class="col-auto pr-0 pl-3">
                    @*<a href="#">shopping cart</a>*@
                    <a href="@Url.Action("Login", "Home")" class="logo">
                        <img src='@Url.Content("~/image/home/sicons.png")' />
                    </a>
                </div>
            </div>

            <div id="spacer" class="h-0 mx-auto"></div>

        </div>
        <!-- navbody end -->
        <!-- navfooter start -->
        @*<div id="navfooter " class="container-fluid mx-auto py-2 ">
                <ul class="row col-10 justify-content-center align-items-center mx-auto my-auto">
                    <li class="col-auto pl-0">
                        <a href="#">HOME</a>
                    </li>
                    <li class="col-auto pl-5">
                        <a href="#">HOME</a>
                    </li>
                    <li class="col-auto pl-5">
                        <a href="#">HOME</a>
                    </li>
                    <li class="col-auto pl-5">
                        <a href="#">HOME</a>
                    </li>
                    <li class="col-auto pl-5">
                        <a href="#">HOME</a>
                    </li>
                    <li class="col-auto pl-5">
                        <a href="#">HOME</a>
                    </li>
                </ul>


            </div>*@
        <!-- navfooter end -->

    </nav>
    <!-- nav end -->
    <!-- header start -->
    @*<div id="header" class="container-fluid ">
            <div class="row col-10 mx-auto h-100 justify-content-center">
                <div class="col-6 align-self-center text-center">
                    <p>COMING SOON NEXT WEEK</p>

                    <h1>Lorem ipsum dolor sit.</h1>
                    <div id="spacer" class="mx-auto my-4"></div>

                    <button type="button" class="btn py-2 px-3 blackbtn">SHOW NOW</button>
                    <button type="button" class="btn py-2 px-3 greenbtn">LEARN MORE</button>

                </div>
            </div>
        </div>*@


    <!-- header end -->
    <!-- shop area start -->
    @RenderBody()
    <!-- shop area end -->
    <div id="footer" class="container-fluid  mt-5 py-4">
        <div id="footerrow" class="row col-10 mx-auto px-4 py-5">
            <div class="col-5">
                <h4>KEEP IN TOUCH</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil vitae odit quas error molestias illum!</p>
            </div>
            <div class="col pl-3">
                <h4>INFORMATION</h4>
                <p>Lorem, ipsum.</p>
                <p>Lorem, ipsum.</p>

                <p>Lorem, ipsum.</p>

                <p>Lorem, ipsum.</p>


            </div>
            <div class="col pl-3">
                <h4>MY ACCOUNT</h4>
                <p>Lorem, ipsum.</p>

                <p>Lorem, ipsum.</p>

                <p>Lorem, ipsum.</p>

                <p>Lorem, ipsum.</p>


            </div>
            <div class="col pl-3 d-flex flex-column">
                <h4>NEWSLETTER</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <div class="input-group">
                    <input type="text" class="form-control p-2 mt-auto" placeholder="Enter your e-mail">
                    <div class="input-group-append">
                        <button class="btn" type="button" id="button-addon2">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    
    <div class="modal fade mx-auto w-100" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pl-2" id="exampleModalLongTitle">@ViewBag.productName – 已成功加入購物車</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/image/home/logo4.png" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success w-25" data-dismiss="modal" style="border-radius:10px!important;"><i class="fas fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</body>

</html>